<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
</head>
<body>
<main class="container">
    <nav
            style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
    >
        <ul>
            <li><a href="/" role="button"> Go back to the main page </a></li>
            <li><a href="/phone/{{contact.id}}" role="button"> Add phone </a></li>
            <li><a href="/email/{{contact.id}}" role="button"> Add email </a></li>

        </ul>
    </nav>
    <h1>{{contact.name}}</h1>
    <p>Time of creation: <kbd>{{contact.created_at.date()}}</kbd></p>

    <p>Phones:</p>
    {% for phone in phones%}
    <ul>
        <li>
            {{phone.phone_number}} <a href="/update_phone/{{contact.id}}/{{phone.id}}"> &#128393
            <span> | </span> <a href="/contact/{{contact.id}}/phone_delete/{{phone.id}}"> &#10007</a>
        </li>
    </ul>
    {% endfor %}
    <p>Emails:</p>
    {% for email in emails%}
    <ul>
        <li>
            {{email.email}} <a href="/update_email/{{contact.id}}/{{email.id}}"> &#128393
            <span> | </span> <a href="/contact/{{contact.id}}/email_delete/{{email.id}}">x</a>
        </li>
    </ul>
    {% endfor %}
</main>
</body>
</html>